@model EmployeeModel

@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css" />
}
@section Scripts{
    <script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Departments Table</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <h1>Departments Table</h1>
            <hr />
            <table id="myTable" class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:30px;">Id</td>
                        <td style="width:50px;">Department Name</td>
                        <td style="width:100px;"></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Departments.Count() > 0)
                    {
                        @foreach (var item in Model.Departments)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.DepartmentName</td>
                                <td>
                                    <div class="d-flex justify-content-end">
                                        <a asp-controller="Home" asp-action="UpdateDepartment" asp-route-id="@item.Id" class="btn btn-warning mr-2">Edit</a>
                                        <form asp-controller="Home" asp-action="DeleteDepartment" class="mr-2" method="post" style="display:inline;">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
